<div class="auth-form">
  <h1>Hey, Sign Up 🆙</h1>

  <%= form_with model: @user, url: signup_path, local: true do |form| %>
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

      <%= form.label :email %>
      <%= form.email_field :email %>

      <%= form.label :password %>
      <%= form.password_field :password %>

    <%= recaptcha_tags %>

    <%= link_to "Are you new?", login_path, class: "login-link" %>
    <%= form.submit "Sign Up", id: "signup-btn" %>
  <% end %>
</div>